@charset "UTF-8";
.Card {
  box-sizing: border-box;
  display: inline-block;
  margin: 5px 5px 50px 5px;
  cursor: pointer;
  /* Set the card's dimensions, and size it relative to
     it's font size. */
  font-size: inherit;
  width: 4.0em;
  height: 5.5em;
  /* Add a default background color and border. */
  background-color: #fff;
  border-radius: 0.20em;
  border: 1px solid #c3c3c3;
  /* Scale and set the background settings. */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  /* "Hide" any text within the element (use text to be
     simply compliant with screen readers, etc.). */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  /* Default sizes for cards (size based off the font). */
  /* Optional styles for cards: borderless and drop shadow. */
  /* Not a card, but a card-shaped outline to represent a
     droppable place, like an empty pile. */ }
  .Card.small {
    font-size: 12px; }
  .Card.large {
    font-size: 26px; }
  .Card.xlarge {
    font-size: 42px; }
  .Card.no-border {
    border: 0; }
  .Card.shadow {
    box-shadow: 2px 2px 3px 0 rgba(41, 41, 41, 0.75); }
  .Card.outline {
    background-image: none;
    background-color: rgba(195, 195, 195, 0.5);
    border: 0.15em dashed #daa520; }

.Card.diamonds.A,
.Card.dA,
.Card.♦A {
  background-image: url("../images/diamonds/diamonds-A.svg"); }

.Card.diamonds.K,
.Card.dK,
.Card.♦K {
  background-image: url("../images/diamonds/diamonds-K.svg"); }

.Card.diamonds.Q,
.Card.dQ,
.Card.♦Q {
  background-image: url("../images/diamonds/diamonds-Q.svg"); }

.Card.diamonds.J,
.Card.dJ,
.Card.♦J {
  background-image: url("../images/diamonds/diamonds-J.svg"); }

.Card.diamonds.r10,
.Card.d10,
.Card.♦10 {
  background-image: url("../images/diamonds/diamonds-r10.svg"); }

.Card.diamonds.r09,
.Card.d09,
.Card.♦09 {
  background-image: url("../images/diamonds/diamonds-r09.svg"); }

.Card.diamonds.r08,
.Card.d08,
.Card.♦08 {
  background-image: url("../images/diamonds/diamonds-r08.svg"); }

.Card.diamonds.r07,
.Card.d07,
.Card.♦07 {
  background-image: url("../images/diamonds/diamonds-r07.svg"); }

.Card.diamonds.r06,
.Card.d06,
.Card.♦06 {
  background-image: url("../images/diamonds/diamonds-r06.svg"); }

.Card.diamonds.r05,
.Card.d05,
.Card.♦05 {
  background-image: url("../images/diamonds/diamonds-r05.svg"); }

.Card.diamonds.r04,
.Card.d04,
.Card.♦04 {
  background-image: url("../images/diamonds/diamonds-r04.svg"); }

.Card.diamonds.r03,
.Card.d03,
.Card.♦03 {
  background-image: url("../images/diamonds/diamonds-r03.svg"); }

.Card.diamonds.r02,
.Card.d02,
.Card.♦02 {
  background-image: url("../images/diamonds/diamonds-r02.svg"); }

.Card.hearts.A,
.Card.hA,
.Card.♥A {
  background-image: url("../images/hearts/hearts-A.svg"); }

.Card.hearts.K,
.Card.hK,
.Card.♥K {
  background-image: url("../images/hearts/hearts-K.svg"); }

.Card.hearts.Q,
.Card.hQ,
.Card.♥Q {
  background-image: url("../images/hearts/hearts-Q.svg"); }

.Card.hearts.J,
.Card.hJ,
.Card.♥J {
  background-image: url("../images/hearts/hearts-J.svg"); }

.Card.hearts.r10,
.Card.h10,
.Card.♥10 {
  background-image: url("../images/hearts/hearts-r10.svg"); }

.Card.hearts.r09,
.Card.h09,
.Card.♥09 {
  background-image: url("../images/hearts/hearts-r09.svg"); }

.Card.hearts.r08,
.Card.h08,
.Card.♥08 {
  background-image: url("../images/hearts/hearts-r08.svg"); }

.Card.hearts.r07,
.Card.h07,
.Card.♥07 {
  background-image: url("../images/hearts/hearts-r07.svg"); }

.Card.hearts.r06,
.Card.h06,
.Card.♥06 {
  background-image: url("../images/hearts/hearts-r06.svg"); }

.Card.hearts.r05,
.Card.h05,
.Card.♥05 {
  background-image: url("../images/hearts/hearts-r05.svg"); }

.Card.hearts.r04,
.Card.h04,
.Card.♥04 {
  background-image: url("../images/hearts/hearts-r04.svg"); }

.Card.hearts.r03,
.Card.h03,
.Card.♥03 {
  background-image: url("../images/hearts/hearts-r03.svg"); }

.Card.hearts.r02,
.Card.h02,
.Card.♥02 {
  background-image: url("../images/hearts/hearts-r02.svg"); }

.Card.spades.A,
.Card.sA,
.Card.♠A {
  background-image: url("../images/spades/spades-A.svg"); }

.Card.spades.K,
.Card.sK,
.Card.♠K {
  background-image: url("../images/spades/spades-K.svg"); }

.Card.spades.Q,
.Card.sQ,
.Card.♠Q {
  background-image: url("../images/spades/spades-Q.svg"); }

.Card.spades.J,
.Card.sJ,
.Card.♠J {
  background-image: url("../images/spades/spades-J.svg"); }

.Card.spades.r10,
.Card.s10,
.Card.♠10 {
  background-image: url("../images/spades/spades-r10.svg"); }

.Card.spades.r09,
.Card.s09,
.Card.♠09 {
  background-image: url("../images/spades/spades-r09.svg"); }

.Card.spades.r08,
.Card.s08,
.Card.♠08 {
  background-image: url("../images/spades/spades-r08.svg"); }

.Card.spades.r07,
.Card.s07,
.Card.♠07 {
  background-image: url("../images/spades/spades-r07.svg"); }

.Card.spades.r06,
.Card.s06,
.Card.♠06 {
  background-image: url("../images/spades/spades-r06.svg"); }

.Card.spades.r05,
.Card.s05,
.Card.♠05 {
  background-image: url("../images/spades/spades-r05.svg"); }

.Card.spades.r04,
.Card.s04,
.Card.♠04 {
  background-image: url("../images/spades/spades-r04.svg"); }

.Card.spades.r03,
.Card.s03,
.Card.♠03 {
  background-image: url("../images/spades/spades-r03.svg"); }

.Card.spades.r02,
.Card.s02,
.Card.♠02 {
  background-image: url("../images/spades/spades-r02.svg"); }

.Card.clubs.A,
.Card.cA,
.Card.♣A {
  background-image: url("../images/clubs/clubs-A.svg"); }

.Card.clubs.K,
.Card.cK,
.Card.♣K {
  background-image: url("../images/clubs/clubs-K.svg"); }

.Card.clubs.Q,
.Card.cQ,
.Card.♣Q {
  background-image: url("../images/clubs/clubs-Q.svg"); }

.Card.clubs.J,
.Card.cJ,
.Card.♣J {
  background-image: url("../images/clubs/clubs-J.svg"); }

.Card.clubs.r10,
.Card.c10,
.Card.♣10 {
  background-image: url("../images/clubs/clubs-r10.svg"); }

.Card.clubs.r09,
.Card.c09,
.Card.♣09 {
  background-image: url("../images/clubs/clubs-r09.svg"); }

.Card.clubs.r08,
.Card.c08,
.Card.♣08 {
  background-image: url("../images/clubs/clubs-r08.svg"); }

.Card.clubs.r07,
.Card.c07,
.Card.♣07 {
  background-image: url("../images/clubs/clubs-r07.svg"); }

.Card.clubs.r06,
.Card.c06,
.Card.♣06 {
  background-image: url("../images/clubs/clubs-r06.svg"); }

.Card.clubs.r05,
.Card.c05,
.Card.♣05 {
  background-image: url("../images/clubs/clubs-r05.svg"); }

.Card.clubs.r04,
.Card.c04,
.Card.♣04 {
  background-image: url("../images/clubs/clubs-r04.svg"); }

.Card.clubs.r03,
.Card.c03,
.Card.♣03 {
  background-image: url("../images/clubs/clubs-r03.svg"); }

.Card.clubs.r02,
.Card.c02,
.Card.♣02 {
  background-image: url("../images/clubs/clubs-r02.svg"); }

.Card.joker {
  background-image: url("../images/jokers/joker.svg"); }

.Card.joker-black {
  background-image: url("../images/jokers/joker-black.svg"); }

.Card.joker-red {
  background-image: url("../images/jokers/joker-red.svg"); }

.Card.back {
  background-image: url("../images/backs/blue.svg"); }

.Card.back-blue {
  background-image: url("../images/backs/blue.svg"); }

.Card.back-red {
  background-image: url("../images/backs/red.svg"); }

/* Re-orients the cards for different directions. While
   they are symmetric, it's still important to orient
   them correctly in case text or other symbols are
   layered on them with CSS pseudo-selectors, new
   classes/rules, etc. */
.Card.west,
.Card.W {
  transform: rotate(90deg);
  margin: auto 0.75em; }
  .Card.west.shadow,
  .Card.W.shadow {
    box-shadow: 2px -2px 3px 0 rgba(41, 41, 41, 0.75); }

.Card.north,
.Card.N {
  transform: rotate(180deg); }
  .Card.north.shadow,
  .Card.N.shadow {
    box-shadow: -2px -2px 3px 0 rgba(41, 41, 41, 0.75); }

.Card.east,
.Card.E {
  transform: rotate(270deg);
  margin: auto 0.75em; }
  .Card.east.shadow,
  .Card.E.shadow {
    box-shadow: -2px 2px 3px 0 rgba(41, 41, 41, 0.75); }
