.AuthPage {
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100vh;
}

#login-container {
    width: 75vw;
}

.LoginForm, .SignUpForm {
    margin-top: -15vmin;
}

#login-btn {
    width: 50%;
    margin: 0 auto;
}

#guest-button {
    width: 50%;
    margin: 0 auto;
    margin-top: 3em;
}

@media (max-width: 1100px) {
    #login-btn {
        width: 45%
    }
}

@media (max-width: 1100px) {
    #login-container {
        width: 85vw
    }

}

@media (max-width: 750px) {
    #login-btn {
        width: 85vw
    }
}

@media (max-width: 1100px) {
    #login-container {
        width: 100vw
    }

}

