.AuthPage {
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100vh;
}

#login-container {
    width: 75vw;
}

.LoginForm, .SignUpForm {
    margin-top: -15vmin;
}

#login-btn {
    width: 26em;
    margin: 0 auto;
}

#guest-button {
    width: 26em;
    margin: 0 auto;
    margin-top: 3em
}


@media (max-width: 750px) {
    #login-btn {
        
    }
}


