.HandHistory {
    color: white;
    font-family: 'Roboto Slab', serif;
}

#hand-history-title {
    color: white;
    text-align: center;
}

.hands-per-page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#hands-per-page-dropdown {
    height: 2em;
    width: 4em;
    margin-left: 1em;
}

.navigation-container {
    text-align: center;
}

#history-table {
    width: 75vw;
    margin: 0 auto;
}

#table-head {
    font-size: 1.5em;
}

#history-date {
    font-size: 1.125em;
}

.history-score {
    font-size: 1.5em;
    font-weight: bold;
}

.history-card {
    width: 4.36em;
    height: 6em;
}

#history-result, #history-wager {
    font-size: 1.25em;
    font-weight: bold;
}

.card-view {
    display: none;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(59, 93, 45);
    margin: 10px 0;
    background-color: black;
}

.hand-row {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    #history-table {
        display: none;
    }

    .card-view {
        display: block;
    }

    .history-result {
        font-size: 1.25em;
    }

    #history-wager {
        padding-left: 0.5em;
    }

    .history-result.loss {
        color: red;
    }

    .history-result.win {
        color: green;
    }

    .card-subtitle {
        font-size: 1.5em;
        margin-bottom: .5em;
    }

    .history-card {
        width: 3.5em;
        height: 4.816em;
    }

    .history-score {
        margin-top: 0.5em;
    }

    #history-date {
        font-size: 1.25em;
        padding-top: 0.5em;
    }
}