.HandHistory {
    color: white;
    font-family: 'Roboto Slab', serif;
}

#hand-history-title {
    color: white;
    text-align: center;
}

.hands-per-page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#hands-per-page-dropdown {
    height: 2em;
    width: 4em;
    margin-left: 1em;
}

.navigation-container {
    text-align: center;
}

#history-table {
    width: 75vw;
    margin: 0 auto;
}

#table-head {
    font-size: 1.5em;
}

#history-date {
    font-size: 1.125em;
}

.history-score {
    font-size: 1.5em;
    font-weight: bold;
}

.history-card {
    width: 4.36em;
    height: 6em;
}

#history-result, #history-wager {
    font-size: 1.25em;
    font-weight: bold;
}