.Table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(59, 93, 45);
    border-style: groove;
    border-width: 3em;
    border-radius: 15%;
    border-color: #D50000;
    margin: 2em;
    height: 50em;
    width: 95em;
    padding: 2em;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}

.DealerScore, .PlayerScore {
    flex: 0 0 40%;
    margin-left: 4em;
    min-height: 99px;
}

.DealerCards, .PlayerCards {
    flex: 0 0 60%;
    margin-left: 12em;
    min-height: 211px;
}

.DealerCards {
    margin-top: 2em;
}

.DealerScore {
    margin-top: 4em;
}

.PlayerCards {
    margin-top: -2em;
}

.WagerInfo {
    max-width: 300px;
    margin: 0 auto;
}

.BankrollInfo {
    max-width: 300px;
    margin: 0 auto;
    margin-top: -1.5em;
}

.PlayerActions {
    max-width: 300px;
    margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
    .Table {
        width: 55em;
    }
    .row {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%
    }
    
    .Card {
        transform: scale(1.35);
    }

    .card-title {
        margin-bottom: 1em;
    }

    .DealerScore, .PlayerScore {
        flex: 0 0 30%;
        margin-left: 0;
    }
    
    .DealerCards, .PlayerCards {
        flex: 0 0 70%;
        margin-left: 2em;
        min-height: 175px;
    }
    
    .WagerInfo {
        margin-top: .5em;
        
    }
    
    .PlayerActions {
        margin-top: .5em;
        
    }
}

@media only screen and (max-width: 767px) {
    .Table {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(59, 93, 45);
        border-style: groove;
        border-width: 0;
        border-radius: 0;
        border-color: black;
        margin: .5em;
        height: 73vh;
        width: 100vw;
        padding: 0;
    }
    
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .dealt-cards {
        margin-left: -6em;
    }

    .card-title {
        margin-top: -.5em;
        margin-bottom: 1.5em;
        font-size: 1.75em;
    }
    
    .DealerCards, .PlayerCards {
        margin-top: -2em;
        min-height: 120px;
        margin-left: 0;
        padding-left: 7.65em;
    }
    .Card {
        transform: scale(2.5);
        margin-left: 2em;
    }
    
    .DealerCards {
    }
    
    .DealerScore {
      margin-top: -1em;  
    }

    #title {
        margin-bottom: -.5em;
    }

    .PlayerScore {
        margin-top: -3em;
    }
    
    .PlayerCards {
        margin-top: -2em;
    }
    
    .WagerInfo {
        margin: 0 auto;
        margin-top: 2em;
    }
    
    .BankrollInfo {
        margin: 0 auto;
        margin-top: -2em;
    }
    
    .PlayerActions {
        margin: 0 auto;
        margin-top: 1.5em;
    }
}