.Table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(59, 93, 45);
    border-style: groove;
    border-width: 3em;
    border-radius: 15%;
    border-color: #D50000;
    margin: 2em;
    height: 50em;
    width: 95em;
    padding: 2em;
}

.row {
    display: flex;
}

.DealerScore, .PlayerScore {
    margin-right: 22em;
    margin-top: 4em;
}

.DealerCards, .PlayerCards {
    margin-left: 8em;
}

.WagerInfo {
    padding-top: 1em;
}