.Table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(59, 93, 45);
    border-style: groove;
    border-width: 3em;
    border-radius: 15%;
    border-color: #D50000;
    margin: 2em;
    height: 50em;
    width: 95em;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.DealerScore {
    margin-left: -50em;
    margin-top: 8em;
}

.PlayerScore {
    margin-top: -5em;
    margin-left: -50em;
}

.DealerCards {
    margin-top: -20em;
    margin-left: 10em;
}

.WagerInfo {
    margin-top: -8em;
    padding: 5em;
}

.PlayerCards {
    margin-top: -10em;
    margin-left: 10em;
}

.PlayerActions {
    margin-top: 0em;
}
